# Used to install pinned test dependencies
# Useful for dev/test jobs caches

-r requirements.txt

# Test tools
black==24.1.1
mypy==1.8.0
mypy-extensions==1.0.0

# Types packages
pyarrow-stubs==10.0.1.7
types-requests==2.31.0.20240125
types-setuptools==69.0.0.20240125

# Local import libraries that we don't want to put in global requirements.txt
wandb==0.16.4
